*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.preview-area{ 
    display: flex;
    flex-wrap: wrap;
}
.preview-area img{
    width: 24%;
    margin: 0 0 10px;
    object-fit: contain;
}
.preview-area img:not(:nth-child(4n)){
    margin-right: 1.333%;
}